<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./dist/out.js"></script>
    <title>SALT - TEST</title>
</head>
<body>
    <div id="hello">
        <p>Hello</p>
        <h1><%= name %></h1>
        <% if (complex) { %>
            <p>s</p>    
        <% } %>
    </div>
    <script>
        let hello = salt.compile('hello')
        document.getElementById('hello').innerHTML = hello({
            name:'cat',
            complex:true
        })
    </script>
</body>
</html>